body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.8;
    background-color: #2a2d34;
    color: #ffffff;
}

.intro {
    padding: 2rem;
    margin: 2rem auto;
    max-width: 800px;
    font-size: 1.2rem;
    font-family: 'Lato', sans-serif;
}

nav {
    padding: 1rem 2rem;
    background-color: #1f1f1f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
}

.highlight {
    color: #4CAF50;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
}

h1 {
    margin: 0;
    font-size: 2.5rem;
}

main {
    padding: 2rem;
    text-align: center;
}

.book-list ul {
    list-style-type: none;
    padding: 0;
    max-width: 700px;
    margin: 0 auto;
}

.book-list li {
    background-color: #4CAF50;
    margin: 1rem 0;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

p {
    text-align: left;
}

.book-list img {
    width: 60px;
    height: auto;
    margin-right: 1.5rem;
    border-radius: 5px;
}

.book-list a {
    text-decoration: none;
    color: #e6e6f0;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
}

.contact {
    background-color: #8BC34A;
    border-radius: 10px;
    width: 80%;
    margin: 2rem auto;
    padding: 2rem;
}

input, textarea {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: none;
    font-size: 1rem;
}

button {
    padding: 1rem 2rem;
    text-align: center;
    border-radius: 5px;
    background-color: #FFC107;
    border: none;
    color: #000;
    font-size: 1.2rem;
    cursor: pointer;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }

    .book-list a {
        font-size: 1rem;
    }

    main {
        padding: 1rem;
    }

    .book-list img {
        width: 40px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5rem;
    }

    .book-list li {
        padding: 0.5rem;
    }

    .book-list a {
        font-size: 0.9rem;
    }

    main {
        padding: 0.5rem;
    }

    .book-list img {
        width: 30px;
    }
}
